Requirements
------------

- Python 2.x or Python 3.x
- Python Expect (pexpect) library.  To install: 'pip install pexpect'
- APC with telnet network interface (tested on AP7900)

Usage
-----

### Power cycle (reboot) a single port
```$ ./apc.py --reboot PORT```

### Example: reboot power port 1
```$ ./apc.py --reboot 1```

### Display help
```
$ ./apc.py --help

usage: apc.py [-h] [--host HOST] [-v] [--quiet] [--user USER]
              [--password PASSWORD] [--debug] [--reboot REBOOT] [--off OFF]
              [--on ON] [--get GET]

APC Python CLI

optional arguments:
  -h, --help           show this help message and exit
  --host HOST          Override the host
  --user USER          Override the username
  --password PASSWORD  Override the password
  -v, --verbose        Verbose messages
  --quiet              Quiet
  --debug              Debug mode
  --reboot REBOOT      Reboot an outlet
  --off OFF            Turn off an outlet
  --on ON              Turn on an outlet
```

Environment Variables
---------------------

The following environment variables will override the APC connection:
- $APC_HOST
- $APC_USER
- $APC_PASSWORD

Example session
---------------

```
$ ./apc.py --reboot 8
Acquiring lock /tmp/apc.lock
Connecting to APC @ 10.8.0.142
Logged in as user apc, version 3.7.3
APC 10.8.0.142: Outlet #8 Rebooted
DISCONNECTED from 10.8.0.142
```
